.title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #33691e;
  padding-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  a {
    font-size: x-large;
    font-weight: bold;
  }

  h2 {
    font-size: x-large;
  }
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.select-input {
  width: 322px;
  font-size: 13px;
}

.error-text {
  color: red;
  text-align: center;
  margin-top: 2rem;
}